body{
    background-color: aquamarine;
    text-align: center;
    font-size: 1.5rem;;
}

li{
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px auto;
    background: #eee;
    border: 1px dotted #ddd;
  }